.article {
  width: 40%;
}

.empty{
  font-size: xx-large;
  font-weight: bold;
  color: rgb(173, 82, 66);
}

.item {
  font-size: medium;
  font-weight: bold;
}

.description {
  font-size: large;
  font-style: italic;
  color: blue;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
