.main {
  margin: 0.5rem;
  padding: 0.5rem;
 
  text-align: center;
  display: inline-block;
  

  border-radius: 70px;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow: 37px 37px 73px #bababa, -37px -37px 73px #ffffff;
}
